.body{
    width: 100vw;
    height: 100vh;
    background: #fff;
}

.div{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.img {
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 2;
  }

  .img2 {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 180px;
    z-index: 3;
  }